<div class="container">
  <h1 style="color:rgb(54, 28, 28)">Welcome Back</h1>
  <div class="form">

    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <input formControlName="email" type="text" class="form-control" placeholder="Email">
      <div *ngIf="loginForm.get('email').invalid && (loginForm.get('email').dirty || loginForm.get('email').touched)">
        <div class="error" *ngIf="loginForm.get('email').hasError('required')">
          Email is required.
        </div>
        <div class="error" *ngIf="loginForm.get('email').hasError('email')">
          Invalid email format.
        </div>
      </div>
      <input formControlName="password" type="password" class="form-control" placeholder="password">
      <div
        *ngIf="loginForm.get('password').invalid && (loginForm.get('password').dirty || loginForm.get('password').touched)">
        <div class="error" *ngIf="loginForm.get('password').hasError('required')">
          password is required.
        </div>
        <div class="error" *ngIf="loginForm.get('password').hasError('minlength')">
          Password should have at least 5 characters.
        </div>
        <div class="error" *ngIf="loginForm.get('password').hasError('maxlength')">
          Password should have at most 8 characters.
        </div>
      </div>
      <br>

      <button [disabled]="!loginForm.valid">Submit</button>
      <span class="message">Don't have an account?
        <a routerLink="/signUp">signUp</a></span>
    </form>
  </div>
</div>