.img{
    height: 450px;
    width: 818px;
    margin-left: 5px;
}
.img1{
    margin-left: 171px;
    height: 290px;
    width: 383px;
}

.mess{
    font-weight: 500px;
    font-size: 30px;
}
button{
    background-color:gray;
    text-align: center;
    margin-left: 313px;
    margin-top: 10px;
    margin-bottom: 4px;
}
